:root {
  --soft-red: hsl(6, 99%, 70%);
  --soft-red-opacity: hsl(6, 99%, 70%, 25%);
  --yellow: hsl(50, 100%, 50%);
  --yellow-opacity: hsl(50, 100%, 50%, 22%);
  --dark-desaturated-cyan-text: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(167, 44%, 70%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --graphic-design-bg: hsl(165, 47%, 74%);
  --photography-bg: hsl(198, 100%, 65%);
  --header-bg-cyan: hsl(200, 100%, 62%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

header nav {
  width: 100%;
  position: absolute;
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
}

nav .header-list ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-list ul li {
  list-style: none;
  font-size: 1.1rem;
  color: white;
}

.nav-btn {
  background-color: white;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 20px;
}

header .header-text {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.header-text h1 {
  font-size: 3.8rem;
}

main .transform-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.transform-content .transform-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.transform-content .transform-img {
  width: 50%;
  background-image: url(./images/desktop/image-transform.jpg);
  background-size: cover;
}

main .standout-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.standout-content .standout-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.standout-content .standout-img {
  width: 50%;
  background-image: url(./images/desktop/image-stand-out.jpg);
  background-size: cover;
}

